.react-denmark-map {
  /* "rdm" is an abbreviation for "react-denmark-map". */
  --rdm-gray: #d3d3d3;
  --rdm-light-gray: #ededed;
  --rdm-white: #ffffff;
}

.react-denmark-map-tooltip {
  font-weight: 500;
  background-color: white;
  border-radius: 4px;
  box-shadow: -3px 2px 26px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 2px 26px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 2px 26px -7px rgba(0, 0, 0, 0.75);
  padding: 6px 12px;
}

.react-denmark-map-tooltip > p {
  margin: 0;
}

.react-denmark-map-hoverable:hover {
  fill-opacity: 70%;
}

.react-denmark-map-clickable:hover {
  fill-opacity: 70%;
  cursor: pointer;
}

.react-denmark-map-zoom-controls-wrapper {
  margin: 8px;
  z-index: 1;
  position: absolute;
  right: 0;
}

.react-denmark-map-zoom-controls {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3);
}

.react-denmark-map-zoom-controls > button {
  outline: none;
  border: 0;
  background-color: var(--rdm-white);
  padding: 6px 6px 4px;
  cursor: pointer;
  font-size: 16px;
}

.react-denmark-map-zoom-controls > button:first-child {
  border-radius: 3px 3px 0 0;
}

.react-denmark-map-zoom-controls > button:last-child {
  border-radius: 0 0 3px 3px;
}

.react-denmark-map-zoom-controls > button:hover {
  background-color: var(--rdm-light-gray);
  transition: background-color 0.1s ease-in-out;
}

.react-denmark-map-zoom-controls > button:active {
  background-color: var(--rdm-gray);
}
